$primary-color: #B39AFE;
$dark-primary-color: #6f35fc;
$background-color: #f6f8fc;
$black: #222222;
$white: #ffffff;

$header-height: 5.5rem;

// colors types vars

$grass: #7ac74c;
$water: #6390f0;
$fire: #ee8130;
$normal: #a8a77a;
$electric: #f7d02c;
$ice: #96d9d6;
$fighting: #c22e28;
$poison: #a33ea1;
$ground: #e2bf65;
$flying: #a98ff3;
$psychic: #f95587;
$bug: #a6b91a;
$rock: #b6a136;
$ghost: #735797;
$dragon: #6f35fc;
$dark: #705746;
$steel: #b7b7ce;
$fairy: #d685ad;

$grass-medium-opacity: #7ac74c80;
$water-medium-opacity: #6390f080;
$fire-medium-opacity: #ee813080;
$normal-medium-opacity: #a8a77a80;
$electric-medium-opacity: #f7d02c80;
$ice-medium-opacity: #96d9d680;
$fighting-medium-opacity: #c22e2880;
$poison-medium-opacity: #a33ea180;
$ground-medium-opacity: #e2bf6580;
$flying-medium-opacity: #a98ff380;
$psychic-medium-opacity: #f9558780;
$bug-medium-opacity: #a6b91a80;
$rock-medium-opacity: #b6a13680;
$ghost-medium-opacity: #73579780;
$dragon-medium-opacity: #6f35fc80;
$dark-medium-opacity: #70574680;
$steel-medium-opacity: #b7b7ce80;
$fairy-medium-opacity: #d685ad80;