.container {
    @media screen and (min-width: 1280px) {
        max-width: 1216px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 1279px) {
        margin: 0 1rem;
    }
}

.hovered-border {
    border: 2px solid transparent;

    &:hover,
    &:focus {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        outline: none;

        @extend %border-color-type;
    }
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

::-webkit-scrollbar {
    width: 0.6rem;
}
::-webkit-scrollbar-track {
    background: $white;
}
::-webkit-scrollbar-thumb {
    background: $primary-color;
}
::-webkit-scrollbar-thumb:hover {
    background: $dark-primary-color;
}
